#SzenenPane {
	-fx-pref-width: 1024;
	-fx-pref-height: 576;
} 


Label {
	-fx-font-size: 12;
}

#ueberschriftenLabel{
	-fx-font-size: 20;
}


.button, .toggle-button  {
	-fx-font-size: 12;
}

