#SzenenPane {
	-fx-pref-width: 1024;
	-fx-pref-height: 576;
} 

#HintergrundBild {
	-fx-fit-width: 1024;
	-fx-fit-height: 576;
}

#ueberschriftenLabel{
	-fx-font-size: 20;
}


.label, .button, .toggle-button  {
	-fx-font-size: 12;
}

