.menue-pane {
	-fx-background-image: url("../../../ressourcen/gifs/menue.gif");
 	-fx-background-position: left top;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}


.label {
	-fx-text-fill: white;
}

.ueberschriftenLabel {
	-fx-font-weight: bold;
}

.choice-box .context-menu {
	-fx-background-color: rgba(0.0,0.0,0.0,0.8);
}

#choice-box-menu-item:focused  {  
 	-fx-background-color: rgba(50.0,0.0,0.0,0.6);
}  


.button, .toggle-button, .choice-box   {
	-fx-color: rgba(0.0,0.0,0.0,0.4);
}

.button:hover , .toggle-button:hover, .choice-box:hover {
	-fx-color: rgba(0.0,0.0,0.0,0.6);
}

.button:pressed, .toggle-button:selected, .choice-box:pressed  {
	-fx-color: rgba(50.0,0.0,0.0,0.6);
}






