.szenen-pane {
	-fx-pref-width: 1536;
	-fx-pref-height: 864;
} 

.szenen-border-pane {
	-fx-padding: 13;
}

.wenig-spacing {
	-fx-spacing: 13;
}

.medium-spacing {
	-fx-spacing: 26;
}

.viel-spacing {
	-fx-spacing: 67;
}

.sehr-viel-spacing {
	-fx-spacing: 133;
}


.lautstaerke-slider {
	-fx-pref-height: 200;
	-fx-scale-x: 1.0;
}

.label, .choice-box, .button, .toggle-button, .check-box {
	-fx-font-size: 18;
	-fx-background-insets: 2;
}

.button, .toggle-button   {
	-fx-padding: 13 26 13 26;
	-fx-background-radius: 7;
}

.image-button {
	-fx-font-size: 16;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-radius: 3;
}


.optionen-choice-box {
	-fx-pref-width: 200;
}

.ueberschriften-label {
	-fx-font-size: 26;
}
