.szenen-pane {
	-fx-pref-width: 1024;
	-fx-pref-height: 576;
} 

.szenen-border-pane {
	-fx-padding: 10;
}

.wenig-spacing {
	-fx-spacing: 10;
}

.medium-spacing {
	-fx-spacing: 20;
}

.viel-spacing {
	-fx-spacing: 50;
}

.sehr-viel-spacing {
	-fx-spacing: 100;
}


.lautstaerke-slider {
	-fx-pref-height: 150;
	-fx-scale-x: 1.0;
}

.label, .choice-box, .button, .toggle-button, .check-box {
	-fx-font-size: 14;
	-fx-background-insets: 1;
}

.button, .toggle-button   {
	-fx-padding: 10 20 10 20;
	-fx-background-radius: 5;
}

.image-button {
	-fx-font-size: 12;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-radius: 2;
}

.optionen-choice-box {
	-fx-pref-width: 150;
}

.ueberschriften-label {
	-fx-font-size: 20;
}
