.szenen-pane {
	-fx-pref-width: 640;
	-fx-pref-height: 480;
} 

.szenen-border-pane {
	-fx-padding: 5;
}

.wenig-spacing {
	-fx-spacing: 5;
}

.medium-spacing {
	-fx-spacing: 10;
}

.viel-spacing {
	-fx-spacing: 20;
}

.sehr-viel-spacing {
	-fx-spacing: 40;
}

.lautstaerke-slider {
	-fx-pref-height: 80;
	-fx-scale-x: 0.5;
}

.label, .choice-box, .button, .toggle-button, .check-box {
	-fx-font-size: 8.0;
	-fx-background-insets: 1.0;
}

.button, .toggle-button   {
	-fx-padding: 5.0 10.0 5.0 10.0;
	-fx-background-radius: 2.0;
}

.image-button {
	-fx-font-size: 8;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-radius: 2;
}

.optionen-choice-box {
	-fx-pref-width: 80;
}

.ueberschriften-label {
	-fx-font-size: 12.0;
}
