.dungeon-pane {
	-fx-background-image: url("../../../ressourcen/bildDateien/sonstigeBilder/dungeonbackground.png");
}

.dungeon-umrandung-pane {
	-fx-background-image: url("../../../ressourcen/bildDateien/sonstigeBilder/border.png");
	-fx-background-size: stretch;
}

